<table>
<% flights.forEach(function(f) { %>
  <tr>
    <td><%= f.flightNo %></td>
    <td><%= f.airport %></td>
    <td><%= f.airline %></td>
    <td><a href="/flights/<%= f._id %>">DETAILS</a></td>
  </tr>
  <% }); %>
</table>

