<!DOCTYPE html>
<html>
  <head>
    <title>index views</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Welcome to flights</p>
index.ejs
  </body>
</html>
